
/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #fff ;
    text-align: center;
  }
  
  .registration-box {
    max-width: 400px;
    /* margin: 100px auto; */
    margin: 50px auto 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .registration-box h2{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
  }

  .PS-name{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: open ;
    width: 100%;
    text-align: center;
  }
  .PS-name:focus{
    outline: none;
  }

  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
  }
  
  .input-group input,
  .input-group select {
    background-color: rgba(218, 217, 217, 0.825);
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .saveButton {
    background-color: rgb(81, 38, 38);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin:70px auto 30px auto;
    letter-spacing: 2px;
  }

  .errorMsg{
    color: red;
    position: absolute;
    /* transform: translateX(38vw); */
    width: 100%;
    font-size: 18px;
    margin: 20px auto 15px auto;
    font-weight: 500;
  }
  .successMsg{
    color: green;
    position: absolute;
    /* transform: translateX(40vw); */
    width: 100%;
    font-size: 18px;
    margin: 20px auto 15px auto;
    font-weight: 500;
  }
  